<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shxy.suiyuanserver.mapper.ResourceMapper">

    <resultMap id="BaseResultMap" type="com.shxy.suiyuanentity.entity.Resource">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="title" column="title" />
            <result property="type" column="type" />
            <result property="college" column="college" />
            <result property="professional" column="professional" />
            <result property="resourceUrl" column="resource_url" />
            <result property="fileName" column="file_name" />
            <result property="fileSize" column="file_size" />
            <result property="description" column="description" />
            <result property="downloadCount" column="download_count" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,title,type,college,professional,resource_url,file_name,
        file_size,description,download_count,create_time,update_time
    </sql>

    <resultMap id="ResourceVOResultMap" type="com.shxy.suiyuanentity.vo.ResourceVO">
        <id property="id" column="resource_id" />
        <result property="userId" column="user_id" />
        <result property="userName" column="user_name" />
        <result property="userAvatar" column="avatar" />
        <result property="title" column="title" />
        <result property="type" column="type" />
        <result property="college" column="college" />
        <result property="professional" column="professional" />
        <result property="resourceUrl" column="resource_url" />
        <result property="fileName" column="file_name" />
        <result property="fileSize" column="file_size" />
        <result property="description" column="description" />
        <result property="downloadCount" column="download_count" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="selectResourceListWithUser" parameterType="map" resultMap="ResourceVOResultMap">
        SELECT
        r.id as resource_id,
        r.user_id,
        r.title,
        r.type,
        r.college,
        r.professional,
        r.resource_url,
        r.file_name,
        r.file_size,
        r.description,
        r.download_count,
        r.create_time,
        r.update_time,
        u.user_name,
        u.avatar
        FROM resource r
        LEFT JOIN user u ON r.user_id = u.id
        <where>
            <if test="type != null and type != 'all' and type != ''">
                AND r.type = #{type}
            </if>
            <if test="college != null">
                AND r.college = #{college}
            </if>
            <if test="professional != null">
                AND r.professional = #{professional}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (r.title LIKE CONCAT('%', #{keyword}, '%') OR r.file_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderBy == 'hottest'">r.download_count DESC</when>
            <otherwise>r.create_time DESC</otherwise>
        </choose>
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectResourceCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM resource r
        <where>
            <if test="type != null and type != 'all' and type != ''">
                AND r.type = #{type}
            </if>
            <if test="college != null">
                AND r.college = #{college}
            </if>
            <if test="professional != null">
                AND r.professional = #{professional}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (r.title LIKE CONCAT('%', #{keyword}, '%') OR r.file_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="selectRecommendedResources" parameterType="map" resultMap="ResourceVOResultMap">
        SELECT
        r.id as resource_id,
        r.user_id,
        r.title,
        r.type,
        r.college,
        r.professional,
        r.resource_url,
        r.file_name,
        r.file_size,
        r.description,
        r.download_count,
        r.create_time,
        r.update_time,
        u.user_name,
        u.avatar
        FROM resource current_resource
        INNER JOIN resource r ON r.id != current_resource.id
        LEFT JOIN user u ON r.user_id = u.id
        WHERE current_resource.id = #{resourceId}
        ORDER BY
            (
                CASE
                    WHEN current_resource.professional IS NOT NULL AND r.professional = current_resource.professional THEN 40
                    ELSE 0
                END
                +
                CASE
                    WHEN current_resource.college IS NOT NULL AND r.college = current_resource.college THEN 25
                    ELSE 0
                END
                +
                CASE
                    WHEN r.type = current_resource.type THEN 20
                    ELSE 0
                END
                +
                CASE
                    WHEN r.user_id = current_resource.user_id THEN 10
                    ELSE 0
                END
            ) DESC,
            r.download_count DESC,
            r.create_time DESC
        LIMIT #{limit}
    </select>
</mapper>
